.subjectsCards__Wrapper {
    padding: 15px;
    box-shadow: 0 0 5px 3px $primary-shadow;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 18px;
            font-weight: 700;
        }
        p{
            font-size: 14px;
            color: $gray;
        }
    }
    .bottom {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button {
        color: $black;
        &:hover {
            color: $primary;
        }
    }
}