.utilities__Scroll {
	overflow-y: scroll;
	/* width */
	&::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.notesCard__Wrapper {
		display: flex;
		gap: 1rem;
		padding: 20px;
		align-items: center;
		cursor: pointer;
		svg {
			font-size: 30px;
		}
		&:hover {
			background-color: $light;
		}
	}
}