.addClass__Wrapper{
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
            font-weight: 600;
            font-size: 18px;
        }
    }
    .bottom {
        margin-top: 15px;
        form {
            .dragDiv {
                position: relative;
                margin-bottom: 15px;
                border: 1px solid $gray;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                p{
                    font-size: 14px;
                    color: $gray;
                }
            }
            .inputDiv {
                position: relative;
                margin-bottom: 15px;
                input, select{
                    width: 100%;
                    padding: 10px 15px;
                    border: 1px solid $gray;
                    outline: none;
                    border-radius: 5px;
                    &:valid ~ label, &:focus ~ label {
                        top: -8px;
                        left: 7px;
                        background-color: $white;
                        padding: 0 3px;
                        font-size: 12px;
                        transition: all .2s linear;
                    }
                }
                label{
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    pointer-events: none;
                }
            }
            button {
                background-color: $primary;
                text-transform: capitalize;
                color: $white;
                padding: 7px 20px;
            }
        }
    }
}