.success__Wrapper{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.15);
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        padding: 20px;
        background-color: $white;
        box-shadow: 0 0 10px 5px $shadow;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .msg {
            text-align: center;
            p{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 700;
            }
            button {
                color: $white;
                text-transform: capitalize;
                padding: 7px 20px;
            }
        }
    }
}