$primary: #6f6af8;

$white: #ffffff;
$black: #000000;

$gray: #707070;

$shadow: rgba(0,0,0,0.15);
$primary-shadow: rgba($primary, 0.15);

$light: #efefef;

$red: #ff3d47;
$blue: #1877f2;
$green:  rgb(34 197 94);
$yellow: #ffab3a;